<div class="container">
<h1>Lists</h1>

<div id="lists">
  <% @lists.each do |name| %>
    <p>
      <%= link_to name.name, list_path(name) %>
    </p>
  <% end %>
</div>

<button><%= link_to "Add new List", new_list_path %></button>
</div>
